<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Brown Family | Picture Wall</title>
    <link rel="stylesheet" href="../static/css/picture-wall.css">
</head>
<body>

    <div class="gallery-container">
        <h1>Picture Wall</h1>
        
        <div class="gallery-grid">
            <div class="gallery-item"><img src="../static/img/picture-wall-img/tbrown-bg.png" alt="T.C. Brown background"></div>
            <div class="gallery-item"><img src="../static/img/picture-wall-img/bbrown-bg.png" alt="B.N. Brown background"></div>
            <div class="gallery-item"><img src="../static/img/picture-wall-img/dbrown-bg.png" alt="J.Z. Akers-Brown background"></div>
            <div class="gallery-item"><img src="../static/img/picture-wall-img/lbrown-bg.png" alt="C.D. Akers-Brown background"></div>
            <div class="gallery-item"><img src="../static/img/picture-wall-img/rdbrown-bg.png" alt="D.A. Akers-Brown background"></div>
            <div class="gallery-item"><img src="../static/img/picture-wall-img/abrown-bg.png" alt="A.G. Brown background"></div>
            <div class="gallery-item"><img src="../static/img/picture-wall-img/zbrown-bg.png" alt="Z.G. Brown background"></div>
        </div>
    </div>

    <div class="lightbox" id="lightbox">
        <span class="close-btn" id="close-btn">&times;</span>
        <img class="lightbox-content" id="lightbox-img" src="" alt="">
        <div id="lightbox-caption"></div>
    </div>

    <script src="../static/js/picture-wall.js"></script>
</body>
</html>